.HomeModal {
   background-Color: 'transparent';
   color: #12181B;
   width: 50%;
   height: 50%;
   margin: 25%;
}

.modal-container {
   padding: 20px;
   background: #2A2E35;
   border-radius: 10px;
}

.datepicker {
   width: 200px;
   height: 50px;
   text-align: center;
   border-radius: 10px;
   background-color: #12181B;
   color: #C1C1C1;
   display: flex;
   margin-left: 50px;
   margin-right: 50px;
   border: 1px solid #F9994C;
   font-size: large;
}

.react-datepicker-wrapper {
   display: table-cell;
   padding: 0;
   border: 0;
   width: 50%;
}

.text-label {
   color: #F9994C !important;
   display: inline-flex;
   font-size: x-large;
   margin-left: 20px;
   padding: inherit;
}

.Save-btn {
   margin-left: 10px;
   /* size: 100px; */
   width: 140px;
   font-size: larger;
   color: #F9994C !important;
   border: 1px solid;
   background-color: #12181B;
   border-radius: 5px;
   margin-left: 40px;
   height: 45px;
}

.close-btn {
   margin-left: 10px;
   /* size: 100px; */
   width: 140px;
   font-size: larger;
   color: red !important;
   border: 1px solid;
   background-color: #12181B;
   border-radius: 5px;
   margin-left: 40px;
   height: 45px;
}

.calendar-style {
   background-color: #C1C1C1 !important;
}

.home {
   background-color: #12181B;
   width: 100% !important;
   height: 100vh !important;
}

.conatiner_homepage {
   display: flex;
   flex-direction: row;
   /* filter: blur(7px); */
}

.option-menu {
   position: absolute;
   top: 25%;
   left: 25%;
   height: 50px;
   width: 100px;
   background-color: #2A2E35;
   color: #F9994C;
   text-align: center;
   padding: 2px;
   font-style: bold;
   border-color: #F9994C;
   border-radius: 0px;
}

.option-menu:hover {
   background-color: #12181B;
}

.selection:hover {
   background-color: #F9994C !important;
   border-radius: 100px;
}

.search-container {
   margin-left: 22%;
   margin-top: 4%;
}

.box {
   display: flex;
   height: 1.1cm;
}

.bttn-styling {
   padding: 9px 12px;
}

.search-bar {
   display: inline-block !important;
   width: 70%;
   border-radius: 0%;
   height: 1.1cm;
   background-color: #2A2E35 !important;
   color: #C1C1C1 !important;
   font-weight: bold !important;
   border-bottom: 1px solid #F9994C !important;
   border-top: 1px solid #F9994C !important;
   border-right: 1px solid #F9994C !important;
   border-left: 1px solid #2A2E35 !important;
   padding-bottom: 11px !important;

}

.search-bar:focus {
   outline: none !important;
   border-color: 1px #F9994C !important;
   box-shadow: 0 0 2px #F9994C !important;
}

.form-control:focus {
   box-shadow: 0.1rem #F9994C !important;
}

.at-bttn {
   height: 1.1cm !important;
}

.btn {
   border-radius: 0% !important;
   color: #F9994C;
   background-color: #2A2E35;
}

.a_ttn {
   padding: 1.5px !important;
}

.a_ttnn {
   padding: 10px 12.5px !important;
   font-weight: 600px !important;
   height: 1.1cm !important;
}

.hash_ttnn {
   padding: 10px 12.5px !important;
   height: 1.1cm !important;
}

.hash-style {
   border-bottom: 1px solid #F9994C !important;
   border-top: 1px solid #F9994C !important;
   border-left: 1px solid #F9994C !important;
   background-color: #12181B !important;
   /* box-shadow: 0.1rem #F9994C !important; */
}

.hash-style:focus {
   outline: none !important;
   border-color: #F9994C !important;
   box-shadow: 0 0 10px #F9994C !important;
}

.at-style {
   border-bottom: 1px solid #F9994C !important;
   border-top: 1px solid #F9994C !important;
   border-left: 1px solid #F9994C !important;
   background-color: #12181B !important;
}

.at-style:focus {
   outline: none !important;
   border-color: #F9994C !important;
   box-shadow: 0 0 10px #F9994C !important;
}

.search_style {
   border-bottom: 1px solid #F9994C !important;
   border-top: 1px solid #F9994C !important;
   border-left: 1px solid #F9994C !important;
   background-color: #12181B !important;
}

.search-bar:focus {
   outline: none !important;
   border-color: #F9994C !important;
   box-shadow: 0 0 10px #F9994C !important;
}

.text-limit {
   color: aliceblue;
   padding-left: 200px;
}

.limitistyle {
   width: 100px;
   display: inline-block !important;
   background-color: #2A2E35;
   border: #C1C1C1;
   text-align: center;
   color: #C1C1C1;
   margin-left: 20px;
}

.limitistyle:focus,
.limitistyle:hover {
   box-shadow: #F9994C;
}

.submit-tweet:disabled {
   background-color: #2A2E35;
   color: #C1C1C1;
   border: 1px solid #C1C1C1;
   margin-left: 300px;
   padding: 3px 20px;
   font-weight: 400;
}

.submit-tweet:enabled {
   background-color: #2A2E35;
   color: #C1C1C1;
   border: 1px solid #F9994C;
   margin-left: 300px;
   padding: 3px 20px;
   font-weight: 400;
}

.submit-tweet:enabled:focus {
   box-shadow: #F9994C;
}

.filter-icon {
   color: #F9994C;
   font-size: 40px;
}

.filter-button {
   margin-left: 10px;
   padding-top: 0px;
   background-color: #12181B;
}

.loader {
   size: 40px;
   color: #F9994C !important;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   display: flex;
   background-color: #12181B;
}

.is_loading {
   /* background-color: #C1C1C1; */
   filter: blur(7px);
}

.loader-container {
   display: inline;
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 11111;
}