.email-container {
  width: 100%;
  height: 100%;
  display: inline;
  align-items: center;
}

.enter-email {
  align-items: center;
}

body {
  background: #12181B;
}

/* .login-container{
      padding-top: 70px;
      padding-left: 250px;
  } */

.emailbox {
  height: 450px;
  width: 850px !important;
  background: #2A2E35;
  padding: 30px 60px 30px 60px !important;
  border-radius: 15px !important;
  margin-left: 28%;
  margin-top: 100px;
  border-radius: 15px !important;

}

.font-color {
  margin-bottom: 20px !important;
  color: #F9994C;
  display: inline;
}

.emailgroup {
  margin: 10px 0 25px 0px;
  padding: 10px 0px 10px 0px;
  color: white;
  font-weight: bold;
}

.forgot {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: right;
  margin: 5px 0px 12px 0px;
  font-weight: 400;
  font-size: large;
}

/* .form-control{
    padding: 15px;
    border: 0px solid white ;
    border-color: white ;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(243, 243, 243, 0.6) !important;

  } */
.form-control-email {
  padding: 15px;
  border: 0px solid white;
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(243, 243, 243, 0.6) !important;
}

.btn-style {
  background-color: #F9994C !important;
  padding: 10px;
  font-size: 20px;
  box-shadow: #242424;
  border: 2px solid #F9994C;
  color: aliceblue;
}

.next-btn {
  border: 1px solid #F9994C !important;
  margin: 0px 25px 20px 0px;
  background-color: #12181B;
  width: 150px;
  font-size: 15px;
  padding: 0px 5px !important;
  line-height: 2rem !important;
  border-radius: 5px !important;
  /* vertical-align: text-top; */
  margin-left: 570px;
}

.sep {
  border: 1px solid white;
  position: relative;
  margin: 55px 8px 55px;
}

.or {
  position: absolute;
  width: 50px;
  left: 50%;
  color: #F9994C;
  background: #2A2E35;
  text-align: center;
  margin: -10px 0 0 -25px;
  line-height: 20px;
}

.btn-google {
  background: white;
}

.buttonText {
  text-align: middle;
}

.mystyle {
  border-radius: 5px !important;
  padding-left: 175px !important;
  padding-right: 167px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.image_Register_login {
  height: 755px !important;
  width: 1100px !important;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 15px;
  border-radius: 15px;
}

.image_Register {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.span_Register {
  padding: 10px;
  text-align: center;
}

.input-name-bar {
  margin-bottom: 200px;
}

.input-group-text {
  background-color: white;
  border-color: white;
}

.zmdi-account {
  color: black;
}

.zmdi-email {
  color: black;
}

.zmdi-key {
  color: black;
}

.zmdi-eye {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zmdi-eye-off {
  background-color: white;
  color: black;
  padding-top: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.signin-link {
  padding: 2px !important;
  margin-top: 25px !important;
  font-size: 16px;
}

.errors {
  color: red;
  margin-bottom: 8px;
  margin-top: -4px;
}

.mystyle_login {
  border-radius: 5px !important;
  padding-left: 175px !important;
  padding-right: 175px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.text-color {
  color: white;
}